# Central MySQL Database (AWS RDS) Template
CENTRAL_DB_HOST=database-1.cho68wey201f.ap-south-2.rds.amazonaws.com
CENTRAL_DB_PORT=3306
CENTRAL_DB_NAME=webhooks_db
CENTRAL_DB_USER=admin
CENTRAL_DB_PASSWORD=your_password_here
